
extends ../_share/layout/sidepage.pug
block append config
    - var currentId = 'customer', jsFlag = 'customer';
    - head.title = "牌缘城市百科-牌缘城市官网"
    - head.keywords = "牌缘城市百科,牌缘城市技巧"
    - head.description = "牌缘城市百科为大家提供了最齐全的牌缘城市技巧，游戏资讯以及游戏攻略等。"
block append sideMain
    .content.article.clear
        .title
        .main
            .article_content
            .article_nav.clear
            a#goback.fr